{{extend 'layout.html'}}

<div class="post_listing center">
{{if auth.user_id:}}

    <div class="post_list_header text-right">
        <a href="{{=URL('default', 'edit')}}" class="btn btn-warning">
            <i class="fa fa-plus"></i> New Post
        </a>
    </div>

{{else:}}

    <div class="post_list_header text-right">
        <a href="{{=URL('default', 'user', args=['login'])}}" class="btn btn-warning">Log In</a>
    </div>

{{pass}}

    <div class="post_list">
    {{for cl in posts:}}
        <div class="post text-left">
            <div class="post_title text-left">
            <b>Title: </b>
            {{=cl.title}}
                <br>
            <b>Post: </b>
            {{=cl.post}}</div>
                <br>
                <i>Time Posted: </i>{{=cl.created_on}}
                {{if cl.updated_on!=cl.created_on:}}
                <i>Time Edited:</i> {{cl.updated_on}}
                {{pass}}
                {{if auth.user_id:}}
                    <a href="{{=URL('default','edit',args=[cl.id])}}"class="post_title">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </a>
            {{pass}}
            <br>
        </div>
    {{pass}}
    </div>

</div>