
.post_listing {
  margin: 10px 0px 10px 0px;
  padding: 0 0 0 0px;
}

.post_list {
  padding-top: 10px;
}

.post {
  border-color: $clrPostBorder;
  border-style: solid;
  border-width: 1px;
  background: $clrPostBackground;
  margin: 20px 0px 20px 0px;
  padding: 20px;
  @include border-radius(16px);
}

.colorful {
  color: $clrHilight;
}

// This enforces a bit of space between the icon and the text of a button.
a .fa {
  margin-right: 10px;
}

.post_listing {
  margin: 10px 0px 10px 0px;
  padding: 0 0 0 0px;
}

.post_list {
  padding-top: 10px;
}

a.post_title {
    &:hover {
      text-decoration: none;
    }
  color: #222222;
  div.post_title {
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    background: #eeeeee;
    margin: 20px 0px 20px 0px;
    padding: 20px;
    @include border-radius(16px);
  }
}